{% extends 'base.html' %}

{% block content %}
<h1>Our Products 📦</h1>


<div class="container">
    {% for product in products %}
    <div class="product-card">
        <div class="card">
            <div class="card-body">
                <h5>{{ product.name }}</h5>
                <p>Price: ₦{{ product.price }}</p>
                <p>Category: {{ product.category }}</p>
                {% if product.stock > 0 %}
                <span class="stock">In Stock</span>
                {% else %}
                <span class="oos">Out of Stock</span>
                {% endif %}
                <br><br>
                <a href="/products/{{ product.id }}/">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}