.btn1{
    border-radius: 2px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.btn2{
    border-radius: 2px;
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
}

.btnGrp{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}