<!--  template/accounts/register.html -->
{% extends 'base.html' %}

{% block title %}Create an Account - Toriloshop {% endblock %}


{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create an Account</h2>
        <p class="auth-subtitle">Join Toriloshop today to start shopping.</p>

        <form method="POST">
            {% csrf_token %}
            <div class="form.group">
                {{ form.as_p }}
            </div>
            
            <button type="submit" class="btn-auth">Register</button>
        </form>

        <div class="auth-footer">
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}
