{% extends 'base.html' %}

{% block title %} Login - Toriloshop {% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Login</h2>

        <form method="post">
            {% csrf_token %}
            <!-- form is passed authomatically by loginview - view code needed -->
             <div class="form-group">
                {{ form.as_p }}
             </div>
            
            <button type="submit" class="btn-auth">Login</button>
        </form>

        <div class ='auth-footer'>
            <p>No account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </div>
</div>
{% endblock %}